{% extends 'layouts/base.twig' %}

{% block content %}



    <div class="search">
      <center>
        <form action="#" method="post" enctype="multipart/form-data" class="ui form">
          <br/>
          <input type='text' placeholder="Search by title or company name..." name="search" style="width: 60%">
          <input type="submit" name="submit" value="Search" class="positive ui button">
        </form>
      </center>
    </div>

    {% if showtable %}
      <br/>
        <table class="ui single line table">
            <thead>
                <tr>
            		<th> Title </th>
            		<th> Company/User </th>
            		<th> Description </th>
            	</tr>
            </thead>

            <tbody>
                {% for patents in patent %}
            	<tr>
            		<td><a href="/patents/{{patents.patentId|escape}}">{{ patents.title|escape }}</a></td>
                    {% if patents.company == user.username %}
                        <td><a href="/users/{{ patents.company|escape }}">{{ patents.company|escape }}</a></td>
                    {% else %}
            		<td> {{ patents.company|escape }} </td>
                    {% endif %}
            		<td> {{ patents.description|escape }}</td>
            	</tr>
            	{% endfor %}

                {% if patent is empty %}
                <tr style="text-align: center">
                  <td colspan="3">There are no such patents!</td>
                </tr>
                {% endif %}
            </tbody>
        </table>


    {% endif %}



{% endblock %}
